h1{
    text-align: center;
}

#board-frame{
    border: 1px solid black;
    width: 960px;
    height: 960px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    flex: auto;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: aqua;
}